* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles */
header {
    background: rgba(49, 48, 48, 1);
    text-align: center;
    padding: 15px 0;  
}

header h1 {
    color: white;
    font-size: 60px;
}

/* search form styles */
.search-container {
    background-color: rgb(205, 205, 205);
}

.form-title {
    margin: 12px 5px 5px 12px;
    font-size: 26px;
    font-weight: bold;
}

.search-input-div {
    margin: 0 5px 5px 12px;
}

#search-input {
    height: 40px;
    vertical-align: middle;
    max-width: 85%;
    font-size: 32px;
}

#submit-btn {
    height: 40px;
    width: 40px;
    background-color: rgb(21, 122, 238);
    vertical-align: middle;
    border-radius: 5px;
}

#submit-btn:hover {
    border: 3px solid  rgb(126, 230, 248);
}

#submit-btn img {
    height: 25px;
    width: 25px;
}
/* end search form styles */

/* search history styles */
#history-container {
    margin: 37px 0 0 0;
}
.history-items {
    margin: 0 10px;
    padding: 10px;
    width: 100%;
    border: solid black 1px;
    border-radius: 4px;
    font-size: 22px;
    height: 70px;
}
/* end search history styles */

body
 {
    background-color: rgb(215, 215, 215);
}

/* current weather styles */
.results {
    font-size: 22px;
}

.results-current-div {
    margin: 10px 0 0 0;
    padding: 0 10px;
    border: black solid 2px;
    border-radius: 7px;
    
}

.results-title-div {
    margin: 0px;
}

.results-title {
    margin: 20px 0 0 0;
    font-size: 34px;
    font-weight: bold;
}

#uv-index {
    padding: 7px 15px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.253);
}
/* end current weather styles */

/* forecast weather styles */
#forecast-container {
    margin: 60px 0 0 0;
}

.forecast {
    height: 250px;
    width: 200px;
    border: solid 2px black;
    margin: 15px;
    padding: 5px 10px;
    background-color: rgb(21, 122, 238);
    border-radius: 7px;
    color: white;
} 

#forecast-title {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}

.forecast-dates {
    font-weight: bold;
}
/* end forecast weather styles */