* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgba(49, 48, 48, 1);
    text-align: center;
    padding: 15px 0;  
}

header h1 {
    color: white;
    font-size: 60px;
}

.search-container {
    background-color: rgb(224, 223, 223);
}

.form-title {
    margin: 12px 5px 5px 12px;
    font-size: 26px;
    font-weight: bold;
}

.search-input-div {
    margin: 0 5px 5px 12px;
}

#search-input {
    height: 40px;
    vertical-align: middle;
    max-width: 85%;
    font-size: 32px;
   
}

#submit-btn {
    height: 40px;
    width: 40px;
    background-color: blue;
    vertical-align: middle;
    border-radius: 5px;
}
body
 {
    background-color: rgb(139, 139, 139);
}